<template>
  <div id="eventList">
        <v-container pt-0 pb-0>
      <v-layout>
        <v-flex hidden-md-and-up class="text-xs-center">
            <v-btn flat @click="changeGrid(false)" :input-value="!grid" color="blue-grey lighten-1">List<v-icon right>reorder</v-icon></v-btn>
            <v-btn flat @click="changeGrid(true)" :input-value="grid" color="blue-grey lighten-1"><v-icon left>view_module</v-icon>Grid</v-btn>
        </v-flex>
        <v-flex hidden-sm-and-down class="text-xs-right">
            <v-btn flat @click="changeGrid(false)" :input-value="!grid" color="blue-grey lighten-1">List<v-icon right>reorder</v-icon></v-btn>
            <v-btn flat @click="changeGrid(true)" :input-value="grid" color="blue-grey lighten-1">Grid<v-icon right>view_module</v-icon></v-btn>
            <v-btn flat @click="check" color="blue-grey lighten-1">check<v-icon right>view_module</v-icon></v-btn>
            <v-btn flat @click="checkTwo" color="blue-grey lighten-1">checkTwo<v-icon right>view_module</v-icon></v-btn>
        </v-flex>
      </v-layout>
    </v-container>
    <v-container fluid px-0>
      <v-layout column>
        <v-flex v-if="showListTwo">
          <v-expansion-panel v-if="grid" expand class="flat">
            <v-expansion-panel-content v-for="(subList, i) in showListTest" :key="i" :value="subList.show" class="transparent">
              <div slot="header"><v-subheader v-if="subList.title" v-text="subList.title" class="title secondaryFont--text"></v-subheader></div>
              <v-divider></v-divider>
              <event-card class="mt-3" :shows="subList.show"></event-card>              
            </v-expansion-panel-content>
          </v-expansion-panel>
          <v-expansion-panel v-else expand class="flat">
            <v-expansion-panel-content v-for="(subList, i) in showListTest" :key="i" :value="subList.show" class="transparent">
              <div slot="header"><v-subheader v-if="subList.title" v-text="subList.title" class="title secondaryFont--text"></v-subheader></div>
              <v-divider></v-divider>
              <event-min class="mt-3" v-if="subList.show" :shows="subList.show"></event-min>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import EventMin from './EventMin'
import EventCard from './EventCard'

module.exports = {
  data: function () {
    return {
    // showListTest: {}
    }
  },
  computed: {
    grid () {
      return this.$store.getters.getGridview
    },
    showListTest () {
      return this.$store.getters.shows
    },
    showListTwo () {
      return this.$store.state.showsByDate
    }
  },
  methods: {
    changeGrid (payload) {
      this.$store.dispatch('change_gridview', payload)
    },
    check (payload) {
      console.log('ShowListTest: ' + JSON.stringify(this.showListTest, 4))
    },
    checkTwo (payload) {
      // this.showListTest = this.fillShowList(this.$store.state.showsByDate[0].show)
    },
    fillShowList (arr) { // This sorts all of the retrieved shows into an array of arrays to better suit the collapsable sections of the feed
      var showList = []
      console.log('This is what arr is within fillShowList: ' + JSON.stringify(arr, 4))

      var currentTime = this.formatDate(currentTime, -1)
      var today = this.formatDate(today, 0)
      var tomorrow = this.formatDate(tomorrow, 1)
      var week = this.formatDate(week, 7)
      var month = this.formatDate(month, 30)

      showList[0] = {title: 'Today', time: today, show: []}
      showList[1] = {title: 'Tomorrow', time: tomorrow, show: []}
      showList[2] = {title: 'This week', time: week, show: []}
      showList[3] = {title: 'This month', time: month, show: []}

      showList.forEach((currentList, index) => {
        this.sortShows(currentTime, currentList, arr)
      })
      console.log('This is arr just before  it\'s returned from fillShowList: ' + JSON.stringify(arr, 4))
      return showList
    },
    sortShows (currentTime, currentList, arr) {
      console.log('This is what arr is in sortShows: ' + JSON.stringify(arr, 4))
      arr.forEach((show, index) => {
        if (show === null || show === undefined) return
        else if (show.date > currentTime && show.date < currentList.time) {
          currentList.show.push(show)
          console.log('This is show before being pushed onto list: ' + JSON.stringify(show, 4))
          arr[index] = null
          console.log('This is arr: ' + JSON.stringify(arr))
          console.log('This is currentlist.show: ' + JSON.stringify(currentList.show))
        }
      })
    },
    formatDate: function (date, num) {
      date = new Date()
      date.setUTCHours(0, 0, 0, 0)// Set to midnight
      date.setDate(date.getDate() + 1 + num)
      return date
    }
  },
  components: {
    EventMin,
    EventCard
  }
}
</script>

<style lang="scss">
  
.md-active {
    background-color: red;
}

.theme--dark .list {
    background-color: rgba(66, 66, 66, .0)
}

.flat {
  box-shadow: 0 0 0 0 rgba(0,0,0,.2),0 0 0 0 rgba(0,0,0,.14),0 0 0 0 rgba(0,0,0,.12) !important
}
</style>