<template>
  <div id="eventMin">
    <v-container fluid>
      <v-layout column>
        <v-flex>

          <v-list two-line v-for="item in nonNullItems">

                <v-divider v-if="item.divider" v-bind:inset="item.inset"></v-divider>
                <v-list-tile avatar v-else v-bind:key="item.title" @click="showModal(item)">
                  <v-list-tile-avatar size="50">
                    <img v-bind:src="item.avatar">
                  </v-list-tile-avatar>
                  <v-list-tile-content>
                      <v-list-tile-title class='secondaryFont--text'>
                          <span class="title" v-if="item.title" v-html="item.title"></span>
<!--                          <span>(</span><span v-if="item.acts" v-for="(act, index) in item.acts">
                              <span>{{act.name}}</span><span v-if="index+1 < item.acts.length">, </span>
                          </span><span>)</span>-->
                      </v-list-tile-title>
                    <v-list-tile-sub-title class='primaryFont--text'>
                        <span v-if="item.genre" v-html="item.genre" ></span>
                        <span v-if="item.doors"> — Doors @ {{item.doors}}</span>
                        <span v-if="item.age"> ({{item.age}}+)</span>
                        <span v-if="item.location"> — {{item.location}}</span>
                    </v-list-tile-sub-title>
                    <v-list-tile-sub-title>
                        <span v-if="item.date" v-html="item.date"></span>
                    </v-list-tile-sub-title>
                  </v-list-tile-content>
                    <v-list-tile-avatar v-if="item.price" class='primaryFont--text title'>${{item.price}}
                  </v-list-tile-avatar>
                </v-list-tile>
          </v-list>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
module.exports = {
  data: function () {
    return {
    }
  },
  name: 'event-min',
  props: {
    shows: {
      type: Array
    }
  },
  computed: {
    nonNullItems: function () {
      return this.shows.filter(function (item) {
        return item !== null
      })
    }
  },
  methods: {
    showModal: function (object) {
      object.type = 'event'
      this.$store.dispatch('show_openedObject', object)
    }
  }
}
</script>

<style lang="scss">
  
.md-active {
    background-color: red;
}

.theme--dark .list {
    background-color: rgba(66, 66, 66, .0)
}

.darkBackground {
  background-color: rgba(66, 66, 66, .0)
}
</style>
