<template>
    <div id="eventCard">
          <v-container fluid grid-list-xl pb-0 grid-list-lg grid-list-md grid-list-xs>
            <v-layout row wrap>
              <v-flex
                v-for="item in nonNullItems"
                
                class="xs12 sm6 md4 xl4"
              >
               <v-card v-if="item" flat color="transparent">
                  <v-img
                    class="secondaryFont--text"
                    height="300"
                    :src="item.avatar"
                    @click="showModal(item)"
                  >
                    <v-layout fill-height max no-margin>
                      <v-flex xs12 align-end flexbox max no-padding>
                            <v-container class="banner max">
                              <v-layout xs12 row>
                                  <v-flex xs12 md9 v-if="item.title" class="title">
                                      <span class="clip-text">
                                        {{item.title}}
<!--                                        <span>(</span>
                                        <span v-if="item.acts" v-for="(act, index) in item.acts">
                                            <span>{{act.name}}</span><span v-if="index+1 < item.acts.length">, </span>
                                        </span>
                                        <span>)</span>-->
                                      </span>
                                  </v-flex>
                                  <v-flex hidden-sm-and-down xs3 text-xs-right>
                                      <span v-if="item.price" class='headline clip-text'>${{item.price}}</span>
                                  </v-flex>
                              </v-layout>
                          </v-container>
                      </v-flex>
                    </v-layout>
                  </v-img>
                  <v-card-text class='primaryFont--text'>
                    <div>
                      <span v-if="item.genre" v-html="item.genre"></span>
                          <span v-if="item.doors"> — Doors @ {{item.doors}}</span>
                          <span v-if="item.age"> ({{item.age}}+)</span>
                          <span v-if="item.location"> — {{item.location}}</span>
                      <br>
                      <span v-if="item.date" v-html="item.date"></span>
                    </div>
                  </v-card-text>
                </v-card>
            </v-flex>
          </v-layout>
        </v-container>
  </div>
</template>

<script>
module.exports = {
  data: function () {
    return {
    }
  },
  name: 'event-card',
  props: {
    shows: {
      type: Array
    }
  },
  computed: {
    nonNullItems: function () {
      return this.shows.filter(function (item) {
        return item !== null
      })
    }
  },
  methods: {
    showModal: function (object) {
      object.type = 'event'
      this.$store.dispatch('show_openedObject', object)
    }
  }
}
</script>

<style lang="scss">
  
.md-active {
    background-color: red;
}

.center {
    display: flex;
    justify-content: center;
    text-transform: capitalize;
}

.banner {
    margin-top: 0px;
    background-color: rgba(0, 0, 0, .6);
}

.clip-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: flow-root;
}

.max {
    max-width: 100%;
}
.card__media__content {
    max-width: 100%;
}

.card {
    cursor: pointer;
}

.no-padding {
    padding: 0px !important;
}

.no-margin {
    margin: 0px !important;
}

</style>
