<template>
  <div id="favouritesPage">
    <v-container>
      <v-layout>
        <v-flex>
          blah
        </v-flex>
      </v-layout>
    </v-container>

  </div>
</template>

<script>
module.exports = {
  data: function () {
    return {
      // This object here contains the default values for passed in parameters, and will be overriden if data is passed
      message: 'favourites placeholder message'
    }
  }
}
</script>
