<template>
  <div id="Login">
      <div v-if="reg">
            <v-container fluid class="secondary no-padding" v-if="reg.data.jumbo">
                <v-layout>
                    <v-flex class="xs12">
                      <v-flex hidden-md-and-up>
                          <v-carousel hide-controls :cycle="false" class="car-height">
                            <v-carousel-item>
                              <v-container fluid pa-0>
                                  <v-layout class="column" :key="index">
                                      <v-flex>
                                        <v-card flat>
                                          <v-card-media
                                            class="white--text max remove-click"
                                            height="calc(100vh - 164px)"
                                            v-bind:src="reg.data.jumbo"
                                            >
                                              <v-container mb-0>
                                                  <v-layout>
                                                      <v-flex class="col xs12 text-xs-center title secondaryFont--text">
                                                          <v-flex>                                 
                                                              <span>{{reg.data.tag}}</span>
                                                          </v-flex>
                                                          <v-flex class="pt-1">                                 
                                                              <v-divider></v-divider>
                                                          </v-flex>
                                                          <v-flex subheading pt-2>
                                                              <span>{{reg.data.mission}}</span>
                                                          </v-flex>
                                                      </v-flex>
                                                  </v-layout>
                                              </v-container>
                                              </v-card-media>
                                        </v-card>
                                      </v-flex>
                                  </v-layout>
                              </v-container>
                            </v-carousel-item>
                            <v-carousel-item v-for="(point, index) in reg.data.points" :key="index">
                              <v-container fluid>
                                  <v-layout class="column" :key="index">
                                      <v-flex>
                                          <v-flex><v-icon class="display-2 accent--text">{{point.icon}}</v-icon></v-flex>
                                          <v-flex mb-3 class="title primaryFont--text cap">{{point.title}}</v-flex>
                                      </v-flex>
                                      <v-flex class="subheading xs10 secondaryFont--text">{{point.text}}</v-flex>
                                  </v-layout>
                              </v-container>
                            </v-carousel-item>
                          </v-carousel>
                        <v-container class="primary">
                          <v-layout column>
                              <v-flex class="secondaryFont--text display-1">{{reg.data.data[0].text}}</v-flex>
                                <vnu-form :steps="reg.data.data[0].forms"></vnu-form>

                              <v-flex class="text-xs-center">
                                <v-btn flat @click="toggleLogin()" class="lowercase" color="blue-grey lighten-1">{{reg.data.data[0].help}}</v-btn>
                              </v-flex>                     
                          </v-layout>
                        </v-container>
                        </v-flex>
                        <v-flex hidden-sm-and-down>
                          <v-card>
                              <v-card-media
                                class="white--text max hidden-sm-and-up remove-click"
                                height="calc(100vh - 164px)"
                                v-bind:src="reg.data.jumbo"
                                >
                                  <v-container>
                                      <v-layout>
                                          <v-flex class="col xs12 text-xs-center title secondaryFont--text">
                                              <v-flex>                                 
                                                  <span>{{reg.data.tag}}</span>
                                              </v-flex>
                                              <v-flex class="pt-1">                                 
                                                  <v-divider></v-divider>
                                              </v-flex>
                                              <v-flex>
                                                  <span class="subheader">{{reg.data.mission}}</span>
                                              </v-flex>
                                          </v-flex>
                                      </v-layout>
                                  </v-container>
                                  </v-card-media>
                              <v-card-media
                                class="white--text max hidden-xs-only remove-click"
                                height="calc(100vh - 364px)"
                                v-bind:src="reg.data.jumbo"
                                >
                                  <v-container>
                                      <v-layout class="row xs12">
                                          <v-flex mt-4 class="text-xs-center secondaryFont--text display-3 column xs12 sm4">
                                              <v-flex>                                 
                                                  <span class="display-2">{{reg.data.tag}}</span>
                                              </v-flex>
                                              <v-flex class="pt-3">                                 
                                                  <v-divider></v-divider>
                                              </v-flex>
                                              <v-flex class="align-top">
                                                  <span class="title">{{reg.data.mission}}</span>
                                              </v-flex>
                                          </v-flex>
                                          <v-spacer></v-spacer>
                                          <v-flex column xs12 sm4>
                                              <v-flex class="secondaryFont--text title">{{reg.data.data[0].text}}</v-flex>
                                                <vnu-form :steps="reg.data.data[0].forms"></vnu-form>
                                              <v-flex class="text-xs-center">
                                                <v-btn flat @click="toggleLogin()" class="lowercase" color="blue-grey lighten-1">{{reg.data.data[0].help}}</v-btn>
                                              </v-flex>
                                          </v-flex>
                                      </v-layout>
                                  </v-container>
                                  </v-card-media>
                              <v-container class="fluid pt-4">
                                  <v-layout wrap class="row">
                                      <v-flex xs12 md4 hidden-md-and-up mb-4  v-for="(point, index) in reg.data.points" >
                                          <v-layout class="column px-0" :key="index">
                                              <v-flex class=" mb-3">
                                                  <v-flex><v-icon class="display-2 accent--text">{{point.icon}}</v-icon></v-flex>
                                                  <v-flex class="display-1 primaryFont--text cap">{{point.title}}</v-flex>
                                              </v-flex>
                                              <v-flex class="title xs10 line-height secondaryFont--text">{{point.text}}</v-flex>
                                          </v-layout>
                                      </v-flex>
                                      <v-flex xs12 md4 hidden-sm-and-down v-for="(point, index) in reg.data.points" >
                                          <v-layout class="column px-5" :key="index">
                                              <v-flex class=" mb-3">
                                                  <v-flex><v-icon class="display-2 accent--text">{{point.icon}}</v-icon></v-flex>
                                                  <v-flex class="display-1 primaryFont--text cap">{{point.title}}</v-flex>
                                              </v-flex>
                                              <v-flex class="title xs10 line-height secondaryFont--text">{{point.text}}</v-flex>
                                          </v-layout>
                                      </v-flex>
                                  </v-layout>
                              </v-container>
                          </v-card>
                        </v-flex>
                    </v-flex>
                </v-layout>
            </v-container>
      </div>
    </div>
</template>

<script>
import VnuForm from './VnuForm'

module.exports = {
  data: () => ({
    values: {},
    errors: null
  }),
  computed: {
    reg: function () {
      return this.$store.getters.vnuConnectSub
    },
    userInfo: function () {
      return this.$store.getters.getGlobalUserInfo
    }
  },
  beforeMount () {
    this.$store.dispatch('load_vnuConnect_sub', this.$store.state.userReg) // for testing only
  },
  methods: {
    toggleLogin () {
      if (this.reg.data.type === 'userLogin') {
        this.$store.dispatch('load_vnuConnect_sub', this.$store.state.userReg) // for testing only
      } else {
        console.log('aaaaaaaaaaaaaaaa ' + this.reg.data.type)
        this.$store.dispatch('load_vnuConnect_sub', this.$store.state.userLogin) // for testing only
      }
    }
  },
  components: {
    VnuForm
  }
}
</script>

<style lang="scss">
    @import './src/main';
  
    .menu__content .list__tile__content {
        color: #90a4ae !important;
    }
    .max {
        max-width: 100%;
    }
    .no-padding {
        padding: 0px;
    }
    .remove-click {
        cursor: default !important;
    }
    .lowercase {
        text-transform: none !important;
    }
    .cap {
        text-transform: capitalize !important;
    }
    .line-height {
        line-height: 38px !important;
    }
    .car-height {
      max-height: calc(80vh - 20px);
    }
</style>


