<template>
  <div id="mainLayout">
    <v-toolbar color="primary" dark tabs>
      <router-link :to="{ name: 'EventList' }"><span class="display-1 accent--text">VN<span class="primaryFont--text">U</span></span></router-link>
      <v-spacer></v-spacer>
      <v-btn class="hidden-xs-only secondaryFont--text mr-4" outline round value="recent" :to="{ name: 'Search' }">create or play a show<span class="accent--text ml-2"><v-icon class="md-18">info_outline</v-icon></span></v-btn>
      <v-btn class="lowercase hidden-sm-and-up secondaryFont--text" flat value="recent" :to="{ name: 'Search' }">Promote or Play<span class="accent--text ml-2"><v-icon class="md-18">info_outline</v-icon></span></v-btn>
      <v-btn @click="apiTest()" class="lowercase hidden-xs-only secondaryFont--text" flat >API TEST BUTTON</v-btn>
      <v-btn @click="apiTestTwo()" class="lowercase hidden-xs-only secondaryFont--text" flat >API TEST BUTTON TWO</v-btn>
      <v-btn @click="login()" class="lowercase hidden-xs-only secondaryFont--text" flat >API TEST BUTTON login</v-btn>
      <v-btn @click="submitUser()" class="lowercase hidden-xs-only secondaryFont--text" flat >submit user test</v-btn>
    </v-toolbar>
    <v-tabs
      centered
      color="secondary"
      slot="extension"
      slider-color="accent"
      class="hidden-sm-and-down"
      v-model="model"
    >
      <v-tab :to="{ name: 'EventList' }"><span>Home</span></v-tab>
      <v-tab :to="{ name: 'Favourites' }"><span>Notifications</span></v-tab>
      <v-tab :to="{ name: 'UserProfile' }"><span>Profile</span></v-tab>
      <v-tab :to="{ name: 'Settings' }"><span>Settings</span></v-tab>
    </v-tabs>
    <v-content>
        <v-container fluid pt-1 pa-0>
            <v-layout row>
                <v-flex md1 hidden-sm-and-down></v-flex>
                <v-flex xs12 md10>
                  <v-container pa-0>
                    <v-layout text-xs-center reverse-row>
                      <v-flex pt-0 fluid hidden-xs-only v-if="modal">
                        <router-view name="openedObjectModal" ></router-view>
                      </v-flex>
                       <v-flex class="hidden-sm-and-up xs-no-padding max" v-if="modal" >
                        <router-view name="openedObjectModal" ></router-view>
                      </v-flex>
                      <v-flex max xs-no-padding v-else>
                        <router-view ></router-view>
                      </v-flex>
                    </v-layout>
                  </v-container>                
                </v-flex>
                <v-flex md1 hidden-sm-and-down></v-flex>
            </v-layout>
        </v-container>
    </v-content>
    <v-bottom-nav class="hidden-sm-and-up" :value="true" shift dark fixed>
      <v-btn flat color="primaryFont--text" :to="{ name: 'EventList' }">
        <span>Home</span>
        <v-icon>home</v-icon>
      </v-btn>
      <v-btn flat color="primaryFont--text" :to="{ name: 'Favourites' }">
        <span>Notifications</span>
        <v-icon>favorite</v-icon>
      </v-btn>
      <v-btn flat color="primaryFont--text" :to="{ name: 'UserProfile' }">
        <span>Profile</span>
        <v-icon>account_circle</v-icon>
      </v-btn>
      <v-btn flat color="primaryFont--text" :to="{ name: 'Settings' }">
        <span>Settings</span>
        <v-icon>settings</v-icon>
      </v-btn>
    </v-bottom-nav>
    <v-footer color="transparent" class="pa-3" height="46">
      <v-spacer></v-spacer>
      <div>&copy; 2018</div>
    </v-footer>
  </div>
</template>

<script>
module.exports = {
  data: function () {
    return {
      model: 'Home',
      testObj: {
        avatar: 'http://ottawa.carpediem.cd/data/afisha/o/ab/5d/ab5d3a4ca4.jpg',
        genre: 'metal',
        name: 'blahblah'
      },
      user: {
        email: 'blah@gmail.com',
        password: 'blahblah'
      },
      testShow: {
        title: 'show7',
        description: 'VVVVVVVVVVVVVVVVVVVVVVVVV',
        avatar: 'http://www.slate.com/content/dam/slate/blogs/the_vault/2015/folder/20/TajMahal.jpg.CROP.original-original.jpg',
        acts: [
          '91d33790-d734-11e8-9e84-e3d14baa039e'
        ],
        genre: 'blues',
        doors: '6',
        age: '16+',
        location: 'bridlewood',
        price: '10',
        date: new Date(2018, 10, 12)
      }
    }
  },
  methods: {
    showModal: function () {
      this.$store.dispatch('show_mainModal')
    },
    apiTest: function () {
      console.log('first flag' + JSON.stringify(this.testShow, null, 4))
      console.log('Is session retreiving? ' + window.localStorage.token)
      this.$store.dispatch('submit_show', this.testShow)
    },
    apiTestTwo: function () {
      console.log('first flag' + JSON.stringify(this.testObj, null, 4))
      this.$store.dispatch('get_shows')
    },
    submitUser: function () {
      console.log('first flag' + JSON.stringify(this.user, null, 4))
      this.$store.dispatch('submit_user', this.user)
    },
    login: function () {
      console.log('first flag' + JSON.stringify(this.user, null, 4))
      this.$store.dispatch('login', this.user)
    }
  },
  computed: {
    modal () {
      this.$store.dispatch('get_shows')
    }
  }
}
</script>

<style lang="scss">
  
.md-active {
    background-color: red;
}

.xs-no-padding {
    padding-left: 0px;
    padding-right: 0px;
}
    
.max {
    max-width: 100%;
}

.md-18 { font-size: 18px; }


.darkBackground {
  background-color: rgba(0, 0, 0, .6) !important;
}

  .lowercase {
      text-transform: none !important;
  }
</style>
