<template>
  <div id="ModalWindow">
      <v-dialog v-model="modal" fullscreen transition="slide-x-reverse-transition" :overlay=false>
      <v-card>
        <v-toolbar dark color="primary">
            <v-btn outline round :to="{ name: 'VnuConnect' }" value="recent" color="blue-grey lighten-1">Test</v-btn>
            <v-toolbar-title class="white--text" slot="extension">Modal Selector</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn icon @click="hideModal">
              <v-icon>close</v-icon>
            </v-btn>
        </v-toolbar>
          <router-view name="modalSelector"></router-view>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
module.exports = {
  data: function () {
    return {

    }
  },
  computed: {
    modal () {
      return this.$store.getters.mainModalVis
    }
  },
  methods: {
    hideModal: function () {
      this.$router.go(-1)
      this.$store.dispatch('hide_mainModal')
    }
  }
}
</script>