<template>
  <div id="openedAct">
      <v-card flat class="remove-click" color="transparent">
        <v-container px-0 fluid>
        <v-layout column>

        <v-flex xs12 hidden-md-and-up>
            <v-card-media
              class="white--text max remove-click"
              height="calc(100vh - 264px)"
              v-bind:src="act.avatar"
            >
            </v-card-media>
          </v-flex>
          <v-flex xs4 hidden-sm-and-down>
            <v-card-media
              class="remove-click round-edges"
              height="45vh"
              v-bind:src="act.avatar"
            >
            </v-card-media>
            </v-flex>
            <v-flex xs12 md12>
              <v-list three-line class="pt-0 remove-click">
                <v-list-tile>
                  <v-list-tile-avatar size="50" class="pt-2">
                    <img v-bind:src="act.avatar">
                  </v-list-tile-avatar>
                  <v-list-tile-content>
                    <v-list-tile-title v-if="act.name" class='title primaryFont--text'>{{act.name}}</v-list-tile-title>
                    <v-list-tile-sub-title class='primaryFont--text'>
                        <span v-if="act.genre" v-html="act.genre" ></span><span v-if="act.followers" > — {{act.followers}} followers</span>
                    </v-list-tile-sub-title>
                  </v-list-tile-content>
                  <v-list-tile-action>
                    <v-container class='primaryFont--text'>
                      4.3
                      <v-icon class='primaryFont--text'>star</v-icon>
                    </v-container>
                  </v-list-tile-action>
                </v-list-tile>
                <v-divider></v-divider>
              </v-list>
                <v-tabs
                  centered
                  color="transparent"
                  slot="extension"
                  slider-color="secondary"
                  v-model="model"
                >
                  <v-tab ><span>Shows</span></v-tab>
                  <v-tab ><span>Gallery</span></v-tab>
                  <v-tab ><span>About</span></v-tab>
                </v-tabs>
            </v-flex>

        </v-layout>
        </v-container>
      </v-card>
  </div>
</template>

<script>
module.exports = {
  data: function () {
    return {
      model: ''
    }
  },
  name: 'opened-act',
  props: {
    act: {
      type: Object
    }
  },
  computed: {
  },
  methods: {
  }
}
</script>

<style lang="scss">
    
.md-active {
    background-color: red;
}

.center {
    display: flex;
    justify-content: center;
    text-transform: capitalize;
}

.banner {
    margin-bottom: 0px !important;
    background-color: rgba(0, 0, 0, .6);
}

.clip-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: flow-root;
}

.max {
    max-width: 100%;
}
.card__media__content {
    max-width: 100%;
}

.xs-no-padding {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}

.remove-click {
    cursor: default !important;
}

.set-picture-height {
    height: calc(100vh - 208px);
}

.round-edges {
  border-radius: 3px
}

</style>

