<template>
  <div id="openedChat">
    chat under construction
  </div>
</template>

<script>
module.exports = {
  data: function () {
    return {
    }
  },
  name: 'opened-chat',
  props: {
    chat: {
      type: Object
    }
  },
  computed: {
  },
  methods: {
  }
}
</script>

<style lang="scss">

</style>

