<template>
  <div id="openedEvent">
      <v-card flat color="transparent">
        <v-container pa-0 fluid>
        <v-layout row wrap>

        <v-flex xs12 hidden-md-and-up>
            <v-card-media
              class="white--text max remove-click"
              height="calc(100vh - 264px)"
              v-bind:src="show.avatar"
            >
                <v-layout fill-height max>
                  <v-flex xs12 align-end flexbox max>
                        <v-container class="banner max">
                          <v-layout xs12 row>
                              <v-flex xs12 v-if="show.title && show.acts" class="headline">
                                  <span class="clip-text">
                                    {{show.title}}
                                    <span>(</span>
                                    <span v-if="show.acts" v-for="(act, index) in show.acts">
                                        <span>{{act.name}}</span><span v-if="index+1 < show.acts.length">, </span>
                                    </span>
                                    <span>)</span>
                                  </span>
                              </v-flex>
                          </v-layout>
                      </v-container>
                  </v-flex>
                </v-layout>
            </v-card-media>
          </v-flex>
          <v-flex xs4 px-3 hidden-sm-and-down>
            <v-card-media
              class="remove-click contain"
              height="100%"
              v-bind:src="show.avatar"
              contain
            >

            </v-card-media>
            </v-flex>
            <v-flex xs12 md8>
            <v-container fliud remove-click>
              <v-layout>
                <v-flex xs12 mb-4 v-if="show.title && show.acts" class="display-1 hidden-sm-and-down clip-text primaryFont--text">
            {{show.title}}
            <span>(</span>
            <span v-if="show.acts" v-for="(act, index) in show.acts">
                <span>{{act.name}}</span><span v-if="index+1 < show.acts.length">, </span>
            </span>
            <span>)</span>
          </v-flex>
              </v-layout>
                <v-layout row>
                    <v-flex text-xs-left>
                        <v-subheader class="subheading primaryaryFont--text" v-if="show.price" v-html="show.price + ' per ticket'">{{show.price}}></v-subheader>
                    </v-flex>
                    <v-flex text-xs-right >
                        <v-btn @click="" dark outline large class="accent--text title mr-2">Buy</v-btn>
                    </v-flex>
                </v-layout>
            </v-container>
            <v-list two-line class="pt-0">
              <v-divider inset></v-divider>
              <v-list-tile @click="" >
                <v-list-tile-avatar>
                  <img v-bind:src="show.avatar">
                </v-list-tile-avatar>
                <v-list-tile-content>
                  <v-list-tile-title v-if="show.title" class='primaryFont--text'>{{show.title}}</v-list-tile-title>
                </v-list-tile-content>
                <v-list-tile-action>
                  <v-container class='primaryFont--text'>
                    4.3
                    <v-icon class='primaryFont--text'>star</v-icon>
                  </v-container>
                </v-list-tile-action>
              </v-list-tile>
              <v-divider inset></v-divider>
              <v-list two-line subheader>
                <v-subheader class="subheading primaryFont--text">Acts:</v-subheader>
                <v-list-tile  avatar v-for="(act, index) in show.acts" @click="showModal(act, 'act')">
                  <v-list-tile-avatar>
                    <img v-bind:src="act.avatar"/>
                  </v-list-tile-avatar>
                  <v-list-tile-content>
                    <v-list-tile-title class='primaryFont--text'>{{act.name}}</v-list-tile-title>
                  <v-list-tile-sub-title>
                      <span v-if="act.genre" v-html="act.genre" class='secondaryFont-text'></span>
                  </v-list-tile-sub-title>
                    </v-list-tile-content>
                </v-list-tile>
              </v-list>
            <v-divider inset></v-divider>
              <v-list-tile @click="">
                <v-list-tile-action>
                  <v-icon class='secondaryFont--text'>menu</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                  <v-list-tile-title class='primaryFont--text'>Details</v-list-tile-title>
                </v-list-tile-content>
                <v-list-tile-action>
                    <v-icon color="orange">keyboard_arrow_down</v-icon>
                </v-list-tile-action>
              </v-list-tile>
            <v-divider inset></v-divider>
              <v-list-tile @click="">
                <v-list-tile-action>
                  <v-icon class='secondaryFont--text'>location_on</v-icon>

                </v-list-tile-action>
                <v-list-tile-content>
                  <v-list-tile-title class='primaryFont--text'>{{show.location}}</v-list-tile-title>
                  <v-list-tile-sub-title>{{show.doors}} {{show.date}}</v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>
            </v-list>
            </v-flex>
            <v-flex>
              <v-container remove-click>
                  <v-layout>
                      <v-flex>
                          <div class="map-container" id="mapName">
                            <gmap-map
                              :center="{lat:45.2976616, lng:-75.8607581}"
                              :zoom="14"
                              map-type-id="terrain"
                              style="width: %100; height: 100%"
                            >
                                <gmap-circle :center="{lat:45.2976616, lng:-75.8607581}" :radius="250"></gmap-circle>
                                <gmap-marker
                                  :position="{lat:45.2976616, lng:-75.8607581}"
                                  class="Circle"
                                ></gmap-marker>
                            </gmap-map>
                          </div>
                      </v-flex>
                  </v-layout>
              </v-container>
          </v-flex>

        </v-layout>
      </v-container>
    </v-card>
  </div>
</template>

<script>
module.exports = {
  data: function () {
    return {
    }
  },
  name: 'opened-event',
  props: {
    show: {
      type: Object
    }
  },
  computed: {
  },
  methods: {
    showModal: function (object, type) {
      object.callback = this.show
      object.type = type
      this.$store.dispatch('show_openedObject', object)
    }
  }
}
</script>

<style lang="scss">
</style>
