<template>
  <div id="OpenedEvent">
        <div class="text-xs-left">
            <v-btn flat @click="hideModal" value="recent" class='secondaryFont--text hidden-xs-only mb-2'><v-icon class="accent--text">navigate_before</v-icon>Back</v-btn>
            <v-btn flat @click="hideModal" value="recent" class='secondaryFont--text hidden-sm-and-up'><v-icon class="accent--text">navigate_before</v-icon>Back</v-btn>
        </div>
    <opened-event v-if="object.type === 'event'" :show="object"></opened-event>
    <opened-act v-else-if="object.type === 'act'" :act="object"></opened-act>
    <opened-chat v-else-if="object.type === 'chat'"></opened-chat>
  </div>
</template>

<script>
import OpenedEvent from './OpenedEvent'
import OpenedAct from './OpenedAct'
import OpenedChat from './OpenedChat'

module.exports = {
  data: function () {
    return {
    }
  },
  computed: {
    object: function () {
      return this.$store.getters.openedObjectData
    }
  },
  methods: {
    hideModal: function () {
      if (!(typeof this.object.callback === 'undefined' || this.object.callback === null)) {
        this.object.type = this.object.callback.type
        this.$store.dispatch('show_openedObject', this.object.callback)
      } else {
        this.$store.dispatch('hide_openedObject')
      }
    }
  },
  components: {
    OpenedEvent,
    OpenedAct,
    OpenedChat
  }
}
</script>

<style lang="scss" scoped>
  
.md-active {
    background-color: red;
}

.center {
    display: flex;
    justify-content: center;
    text-transform: capitalize;
}

.banner {
    margin-top: 0px;
    background-color: rgba(0, 0, 0, .6);
}

.clip-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: flow-root;
}

.max {
    max-width: 100%;
}
.card__media__content {
    max-width: 100%;
}

.xs-no-padding {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}

.remove-click {
    cursor: default !important;
}

.set-picture-height {
    height: calc(100vh - 208px);
}

.test-color {
    color: #ff9800 !important;
    font-weight: 500 !important;
}

.test-color2 {
    color: #cfd8dc !important
}

.map-container {
    height: 60vh;
    width: 100%;
    max-width: 100vw;
    margin: 0 auto;
    background: gray;
    border-radius: 3px;
    overflow: hidden;
}

</style>
