<template>
  <div id="search">
        <div class="text-xs-center">
          search
        </div>
    <router-view></router-view>
  </div>
</template>

<script>
module.exports = {
  data: function () {
    return {
      // This object here contains the default values for passed in parameters, and will be overriden if data is passed
      message: 'search placeholder message'
    }
  }
}
</script>