<template>
  <div id="settingsPage">
    <v-container fluid>
      <v-layout column>
        <v-flex>

          <v-list two-line>
              <v-subheader class="title secondaryFont--text">Settings</v-subheader>
                <v-divider></v-divider>
                <v-list-tile @click="">
                  <v-list-tile-content>
                      <v-list-tile-title class='secondaryFont--text'>
                        Log out
                      </v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
          </v-list>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
module.exports = {
  data: function () {
    return {
    }
  },
  computed: {
  },
  methods: {
  }
}
</script>

<style lang="scss">
  
.md-active {
    background-color: red;
}

.theme--dark .list {
    background-color: rgba(66, 66, 66, .0)
}

.flat {
  box-shadow: 0 0 0 0 rgba(0,0,0,.2),0 0 0 0 rgba(0,0,0,.14),0 0 0 0 rgba(0,0,0,.12) !important
}
</style>