<template>
  <div id="UserProfilePage">
    <opened-act :act="act"></opened-act>
  </div>
</template>

<script>
import OpenedAct from './OpenedAct'

module.exports = {
  data: function () {
    return {
      model: ''
    }
  },
  computed: {
    act: function () {
      return this.$store.state.testUser
    }
  },
  methods: {
  },
  components: {
    OpenedAct
  }
}
</script>

<style lang="scss" scoped>
  
.md-active {
    background-color: red;
}

.center {
    display: flex;
    justify-content: center;
    text-transform: capitalize;
}

.banner {
    margin-bottom: 0px !important;
    background-color: rgba(0, 0, 0, .6);
}

.clip-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: flow-root;
}

.max {
    max-width: 100%;
}
.card__media__content {
    max-width: 100%;
}

.xs-no-padding {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}

.remove-click {
    cursor: default !important;
}

.set-picture-height {
    height: calc(100vh - 208px);
}

.round-edges {
  border-radius: 3px
}

</style>
