<template>
  <div id="VnuConnect">
        <v-toolbar color="primary" dark class="remove-box-shadow">
      <router-link :to="{ name: 'EventList' }"><span class="display-1 accent--text">VN<span class="primaryFont--text">U</span></span></router-link>
          <v-spacer></v-spacer>
          <v-btn icon @click="closeConnect" color="secondaryFont--text">
            <v-icon>close</v-icon>
          </v-btn>     
        </v-toolbar>
        <v-container v-if="steps.data[steps.count].header" dark class="text-xs-center height-fix fluid secondary">
            <v-layout>
              <v-flex title class="primaryFont--text">
                {{subSteps.data.title}}
              </v-flex>
            </v-layout>
        </v-container>

        <v-container fluid v-if="steps" dark class="text-xs-center height-fix fluid no-padding">
            <v-layout>
              <v-flex class="primaryFont--text max-width">
                <router-view></router-view>             
              </v-flex>
            </v-layout>
        </v-container>  
  </div>
</template>

<script>
module.exports = {
  data: function () {
    return {
    }
  },
  methods: {
    closeConnect: function () {
      this.$store.dispatch('close_vnuConnect') // for testing only
      this.$router.go(-1)
    }
  },
  computed: {
    steps: function () {
      return this.$store.getters.vnuConnectMain
    },
    subSteps: function () {
      return this.$store.getters.vnuConnectSub
    },
    auth: () => {
      this.$store.getAuth
    }
  },
  beforeMount () {
    this.$store.dispatch('load_vnuConnect_main', this.$store.state.mainSteps) // for testing only
    this.$store.dispatch('load_vnuConnect_sub', this.$store.state.hostReg) // for testing only
  }
}
</script>

<style lang="scss">
    @import './src/main';
  
   .height-fix {
      height: 48px;
      flex: 1 0 auto;
      z-index: 100 !important;
    }
    
    .remove-box-shadow {
      box-shadow: none;
    }

    .no-padding {
      padding: 0px;
    }
    .max-width {
      max-width: 100vw !important;
    }
</style>
