<template>
  <div id="VnuConnectSub">
    <v-container fluid class="blackout pt-0">
      <v-layout >
        <v-flex xs12 sm6 md10 offset-sm3 offset-md1>
            <v-container fluid mb-3 class="text-xs-center title secondaryFont--text">
              <v-layout>
                <v-flex>
                  <v-btn flat @click="next(values)" color="blue-grey lighten-1"><span class="lowercase mr-1">
                    {{steps.data.helper}}</span><span class="accent--text"><v-icon class="md-18">{{steps.data.helperIcon}}</v-icon></span>
                  </v-btn>
                </v-flex>
              </v-layout>
            </v-container>
            <v-flex mb-3 xs12 class="text-xs-center title secondaryFont--text">
                {{steps.data.data[steps.count].title}}
            </v-flex>
            <v-container fluid>
              <v-layout column xs12>
                <v-flex xs12>

                      <v-flex>
                        <v-flex class="secondaryFont--text">
                          <v-progress-linear :value="progress" height="3" :size="150" color="accent"></v-progress-linear>{{ progress }}% the way there!
                        </v-flex>
                      </v-flex>       

                  <v-flex >
                    <vnu-form :steps="steps.data.data[steps.count].forms" :count="steps.count"></vnu-form>
                  </v-flex>
                </v-flex>
             </v-layout>
            </v-container>
            <v-container v-if="steps.data.data[steps.count].type == 'payment'">
              <v-layout column>
                  <v-flex xs12 sm6 offset-sm3 class="text-xs-cnter title secondaryFont--text">
                      {{steps.data.data[steps.count].title}}
                  </v-flex>
                  <v-flex mb-2 mt-2>
                      <v-btn outline round :to="{ path: 'eventStub' }" value="recent" color="blue-grey lighten-1">add payment method</v-btn>
                  </v-flex>
                  <v-flex color="grey lighten-1">
                     {{steps.data.data[steps.count].text}}
                  </v-flex>
              </v-layout>
            </v-container>
        </v-flex>
      </v-layout>
      </v-container>
    </div>
</template>

<script>
import VnuForm from './VnuForm'

module.exports = {
  data: () => ({
    msg: 'placeholder'
  }),
  computed: {
    steps: function () {
      return this.$store.getters.vnuConnectSub
    },
    userInfo: function () {
      return this.$store.getters.getGlobalUserInfo
    },
    progress: function () {
      if (!(this.steps.count === 0)) {
        return Math.round(((this.steps.count + 1) / this.steps.data.data.length) * 100)
      }
      return Math.round((1 / this.steps.data.data.length) * 100)
    }
  },
  beforeMount () {
    this.$store.dispatch('load_vnuConnect_sub', this.$store.state.hostReg) // for testing only
  },
  methods: {
  },
  components: {
    VnuForm
  }
}
</script>

<style lang="scss">
    @import './src/main';
  
    .menu__content .list__tile__content {
        color: #90a4ae !important;
    }
    .blackout {
      background-color: #303030;
    }
    .lowercase {
        text-transform: none !important;
    }
</style>

