<template>
  <div id="vnuConnect">
    <v-container fluid>
      <v-layout column>
        <v-flex>
                <v-form @submit.prevent="validateBeforeSubmit">
                      <div class="secondaryFont--text" v-for="form in steps" :key="form.text">
                        <v-text-field
                          v-bind:label="form.text"
                          v-model="values[form.text]"
                          v-if="form.type === 'text-field'"
                          :error-messages="errors.collect(form.text)"
                          required
                        ></v-text-field>
                          <v-select
                            v-bind:label="form.text"
                            v-model="values[form.text]"
                            v-else-if="form.type === 'select'"
                            :items="form.options"
                            :error-messages="errors.collect(form.text)"
                            required
                          ></v-select>
                        <v-text-field
                          v-bind:label="form.text"
                          v-model="values[form.text]"
                          v-else-if="form.type === 'textArea'"
                          :error-messages="errors.collect(form.text)"
                          required
                          multi-line
                        ></v-text-field>
<!--                          <v-container v-if="form.type === 'img-field'" row>
                              <v-layout row>
                                  <v-spacer></v-spacer>
                                  <v-flex pt-2 xs12 sm3>
                                    <span class="subheading">{{form.text}}: </span>
                                  </v-flex>
                                  <v-flex xs12 sm3>
                                    <upload-button title="Browse" :selectedCallback="fileSelectedFunc">
                                    </upload-button>
                                  </v-flex>
                                  <v-spacer></v-spacer>
                              </v-layout>
                          </v-container>-->

                      <v-menu
                        v-else-if="form.type === 'date-picker'"
                        ref="menu1"
                        :close-on-content-click="false"
                        v-model="menu1"
                        :nudge-right="40"
                        :return-value.sync="date"
                        lazy
                        transition="scale-transition"
                        offset-y
                        full-width
                        min-width="290px"
                      >
                        <v-text-field
                          slot="activator"
                          v-model="values[form.text]"
                          v-bind:label="form.text"
                          prepend-icon="event"
                          readonly
                          :error-messages="errors.collect(form.text)"
                        ></v-text-field>
                        <v-date-picker
                          v-model="values[form.text]" 
                          @input="$refs.menu1.save(values[form.text])"
                          :landscape="true"
                        >
                        </v-date-picker>
                      </v-menu>

                      <v-menu
                        v-else-if="form.type === 'time-picker'"
                        ref="menu2"
                        :close-on-content-click="false"
                        v-model="menu2"
                        :nudge-right="40"
                        :return-value.sync="date"
                        lazy
                        transition="scale-transition"
                        offset-y
                        full-width
                        min-width="290px"
                      >
                        <v-text-field
                          slot="activator"
                          v-model="values[form.text]"
                          v-bind:label="form.text"
                          prepend-icon="access_time"
                          readonly
                          :error-messages="errors.collect(form.text)"
                        ></v-text-field>
                        <v-time-picker
                          v-model="values[form.text]" 
                          @input="$refs.menu2.save(values[form.text])"
                          :landscape="true"
                        >
                        </v-time-picker>
                      </v-menu>

                        <v-text-field
                          :append-icon="psswd ? 'visibility' : 'visibility_off'"
                          :append-icon-cb="() => (psswd = !psswd)"
                          :type="psswd ? 'password' : 'text'"
                          v-bind:label="form.text"
                          v-model="values[form.text]"
                          v-else-if="form.type === 'password'"
                          :error-messages="errors.collect(form.text)"
                          required
                          counter
                        ></v-text-field>

                      </div>
                     <v-layout xs12 row>
                       <v-flex v-if="(!(count === undefined) && count > 0)"class="text-xs-left display-1">
                          <v-btn flat outline round @click="back(values)" color="blue-grey lighten-1">Back</v-btn>
                        </v-flex>
                        <v-flex class="text-xs-right display-1">
                          <v-btn v-if="(count < forms.length - 1)" flat outline round @click="next(values)" color="blue-grey lighten-1">Next</v-btn>
                          <v-btn v-if="(count === (forms.length - 1))" flat outline round @click="submit(values)" color="blue-grey lighten-1">Submit</v-btn>
                        </v-flex>
                      </v-layout>
                   </v-form>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import UploadButton from './UploadButton'

module.exports = {
  $_veeValidate: {
    validator: 'new',
    errors: null
  },
  data: () => ({
    password: 'password', // Assumes theres only password field at any given time. (PAssword documentation was somewhat poorly explained)
    psswd: true,
    menu1: false,
    menu2: false,
    values: {},
    holder: {},
    errors: null
  }),
  name: 'vnu-connect',
  props: {
  },
  computed: {
    userInfo: function () {
      return this.$store.getters.getGlobalUserInfo
    },
    steps: function () {
      return this.$store.state.vnuConnect.sub.data.data[this.count].forms
    },
    forms: function () {
      return this.$store.state.vnuConnect.sub.data.data
    },
    count: function () {
      return this.$store.state.vnuConnect.sub.count
    }
  },
  beforeMount () {
    var fields = document.querySelectorAll('input') // Binds fields to the values property to avoid issues with vuex, two-way binding, and veevalidate
    fields.forEach(field => {
      this.$set(this.values, field.text, '')
    })
  },
  mounted () {
    this.attachValidatorFields()
  },
  methods: {
    next (data) {
      this.$validator.validateAll().then(result => {
        if (!result) {
          console.log('Field errors present: ' + JSON.stringify(this.errors, null, 4))
          return
        }
        this.holder = this.values
        this.$store.dispatch('increment_vnuConnect_sub')
        console.log('Count: ' + this.count)
        this.attachValidatorFields()
      }).catch(() => {
        console.log('Error in validator')
      })
    },
    submit (data) {
      this.$validator.validateAll().then(result => {
        if (!result) {
          console.log('Field errors present: ' + JSON.stringify(this.errors, null, 4))
          return
        }
        this.$store.dispatch('store_user_info', data)
        console.log('Current user: ' + JSON.stringify(this.$store.state.globalUserInfo, null, 4))
        console.log('Form submitted')
        this.$store.dispatch('user_auth', true)
        this.$emit('submission', true)
        this.$router.push({ name: 'Search' })
      }).catch(() => {
        console.log('Error in validator')
      })
    },
    back (data) {
      console.log('back')
      console.log('this is steps object on back: ' + JSON.stringify(this.steps, null, 4))
      this.detachValidatorFields()
      this.$store.dispatch('decrement_vnuConnect_sub')
      this.clearErrors()
    },
    attachValidatorFields () {
      this.steps.forEach((form, index) => {
        this.$validator.attach({ name: form.text, rules: form.veeValidate, alias: form.alias, getter: () => this.values[form.text] }) // creates validator instances for dynamic inputs
      })
    },
    detachValidatorFields () {
      this.steps.forEach((form, index) => {
        console.log('detaching...')
        this.$validator.detach(form.text) // removes validator instances of current form
      })
    },
    clearErrors () {
      this.$validator.pause()
      this.$nextTick(() => {
        this.$validator.errors.clear()
        this.$validator.fields.items.forEach(field => field.reset())
        this.$validator.fields.items.forEach(field => this.errors.remove(field))
        this.$validator.resume()
      })
    }
  },
  components: {
    UploadButton
  },
  created () {
    this.$set(this, 'errors', this.$validator.errors)
  }
}
</script>

<style lang="scss">

</style>

