<template>
  <div id="app">
    <v-app dark>
        <router-view></router-view>
        <router-view name="mainModal"></router-view>
    </v-app>
  </div>
</template>

<script>
module.exports = {
  data: function () {
    return {
      // This object here contains the default values for passed in parameters, and will be overriden if data is passed
      message: 'VNU'
    }
  }
}
</script>

<style lang="scss">
    @import './src/main';
</style>